/* ------------------------ 
    footer section
------------------------ */

footer {
    text-align: center;
}

.icon{
    font-size: 32px;
    margin-left: 14px;
}

.icon:hover{
    color: #000;
}

.social-icons a{
    text-decoration: none;
}

.footer-logo img{
    width: 300px;
}

.footer-content{
    padding: 15px;
}

